<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<ion-card color="tertiary">
      <img src="assets/img/calcul.png"/>

      <ion-button expand="full" color="secondary" (click)="horas32()">32 horas</ion-button>
      <ion-button expand="full" color="secondary" (click)="horas64()">64 horas</ion-button>
      <ion-button expand="full" color="secondary" (click)="horas96()">96 horas</ion-button>
      <ion-button expand="full" color="secondary" (click)="horas128()">128 horas</ion-button>
      <ion-button expand="full" color="secondary" (click)="acercade()">Acerca de</ion-button>

  <ion-card-content>
    Esta calculadora esta hecha por estudiantes y dedicada a estudiantes.
    2019
  </ion-card-content>
</ion-card>


</ion-content>
